openapi: 3.1.0
info:
  contact:
    email: contact@lichess.org
    name: Lichess.org API
    url: https://lichess.org/api
  description: |
    # Introduction
    Welcome to the reference for the Lichess API! Lichess is free/libre,
    open-source chess server powered by volunteers and donations.
    - Get help in the [Lichess Discord channel](https://discord.gg/lichess)
    - API demo app with OAuth2 login and gameplay: [source](https://github.com/lichess-org/api-demo) / [demo](https://lichess-org.github.io/api-demo/)
    - API UI app with OAuth2 login and endpoint forms: [source](https://github.com/lichess-org/api-ui) / [website](https://lichess.org/api/ui)
    - [Contribute to this documentation on Github](https://github.com/lichess-org/api)
    - Check out [Lichess widgets to embed in your website](https://lichess.org/developers)
    - [Download all Lichess rated games](https://database.lichess.org/)
    - [Download all Lichess puzzles with themes, ratings and votes](https://database.lichess.org/#puzzles)
    - [Download all evaluated positions](https://database.lichess.org/#evals)

    ## Endpoint
    All requests go to `https://lichess.org` (unless otherwise specified).

    ## Clients
    - [Python general API](https://github.com/lichess-org/berserk)
    - [MicroPython general API](https://github.com/mkomon/uberserk)
    - [Python general API - async](https://pypi.org/project/async-lichess-sdk)
    - [Python Lichess Bot](https://github.com/lichess-bot-devs/lichess-bot)
    - [Python Board API for Certabo](https://github.com/haklein/certabo-lichess)
    - [Java general API](https://github.com/tors42/chariot)
    - [JavaScript & TypeScript general API](https://github.com/devjiwonchoi/equine)
    - [Rust general API](https://github.com/obazin/litchee)
    - [LichessNET - C# API Wrapper](https://github.com/Rabergsel/LichessNET)
    - [.NET general API](https://github.com/Dblike/LichessSharp)

    ## Rate limiting
    All requests are rate limited using various strategies,
    to ensure the API remains responsive for everyone.
    Only make one request at a time.
    If you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),
    you have exceded one of the rate limits.
    In most cases, waiting one minute before retrying will be sufficient, but some limits may require longer.
    Reduce your request frequency before retrying.

    ## Streaming with ND-JSON
    Some API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](https://github.com/ndjson/ndjson-spec), with one JSON object per line.

    Here's a [JavaScript utility function](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.

    ## Authentication
    ### Which authentication method is right for me?
    [Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api-demo/blob/master/example/README.md)

    ### Personal Access Token
    Personal API access tokens allow you to quickly interact with Lichess API without going through an OAuth flow.
    - [Generate a personal access token](https://lichess.org/account/oauth/token)
    - `curl https://lichess.org/api/account -H "Authorization: Bearer {token}"`
    - [NodeJS example](https://github.com/lichess-org/api-demo/tree/master/example/oauth-personal-token)

    ### Token Security
    - Keep your tokens secret. Do not share them in public repositories or public forums.
    - Your tokens can be used to make your account perform arbitrary actions (within the limits of the tokens' scope). You remain responsible for all activities on your account.
    - Do not hardcode tokens in your application's code. Use environment variables or a secure storage and ensure they are not shipped/exposed to users. Be especially careful that they are not included in frontend bundles or apps that are shipped to users.
    - If you suspect a token has been compromised, revoke it immediately.

    To see your active tokens or revoke them, see [your Personal API access tokens](https://lichess.org/account/oauth/token).

    ### Authorization Code Flow with PKCE
    The authorization code flow with PKCE allows your users to **login with Lichess**.
    Lichess supports unregistered and public clients (no client authentication, choose any unique client id).
    The only accepted code challenge method is `S256`.
    Access tokens are long-lived (expect one year), unless they are revoked.
    Refresh tokens are not supported.

    See the [documentation for the OAuth endpoints](#tag/OAuth) or
    the [PKCE RFC](https://datatracker.ietf.org/doc/html/rfc7636#section-4) for a precise protocol description.

    - [Demo app](https://lichess-org.github.io/api-demo/)
    - [Minimal client-side example](https://github.com/lichess-org/api-demo/tree/master/example/oauth-app)
    - [Flask/Python example](https://github.com/lakinwecker/lichess-oauth-flask)
    - [Java example](https://github.com/tors42/lichess-oauth-pkce-app)
    - [NodeJS Passport strategy to login with Lichess OAuth2](https://www.npmjs.com/package/passport-lichess)

    #### Real life examples
    - [PyChess](https://github.com/gbtami/pychess-variants) ([source code](https://github.com/gbtami/pychess-variants))
    - [Lichess4545](https://www.lichess4545.com/) ([source code](https://github.com/cyanfish/heltour))
    - [English Chess Federation](https://ecf.octoknight.com/)
    - [Rotherham Online Chess](https://rotherhamonlinechess.azurewebsites.net/tournaments)

    ### Token format
    Access tokens and authorization codes match `^[A-Za-z0-9_]+$`.
    The length of tokens can be increased without notice. Make sure your application can handle at least 512 characters.
    By convention tokens have a recognizable prefix, but do not rely on this.
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.txt
  title: Lichess.org API reference
  version: 2.0.174
  x-logo:
    url: https://lichess1.org/assets/logo/lichess-pad12.svg
servers:
- url: https://lichess.org
- url: https://lichess.dev
- url: "http://localhost:{port}"
  variables:
    port:
      default: "8080"
- url: http://l.org
tags:
- description: |
    Read and write account information and preferences.
    <https://lichess.org/account/preferences/game-display>
  name: Account
- description: |
    Access Lichess cloud evaluations database.
    <https://lichess.org/analysis>
  name: Analysis
- description: |
    Play on Lichess with physical boards and third-party clients.
    Works with normal Lichess accounts. Engine play or assistance is [forbidden](https://lichess.org/page/fair-play).

    ### Features
    - [Stream incoming chess moves](#tag/board/GET/api/board/game/stream/{gameId})
    - [Play chess moves](#tag/board/POST/api/board/game/{gameId}/move/{move})
    - [Read](#tag/board/GET/api/board/game/stream/{gameId}) and [write](#tag/board/POST/api/board/game/{gameId}/chat) in the player and spectator chats
    - [Receive](#tag/board/GET/api/stream/event), [create](#tag/challenges/POST/api/challenge/{username}) and [accept](#tag/challenges/POST/api/challenge/{challengeId}/accept) (or [decline](#tag/challenges/POST/api/challenge/{challengeId}/decline)) challenges
    - [Abort](#tag/board/POST/api/board/game/{gameId}/abort) and [resign](#tag/board/POST/api/board/game/{gameId}/resign) games
    - Compatible with normal Lichess accounts

    ### Restrictions
    - Engine assistance, or any kind of outside help, is [forbidden](https://lichess.org/page/fair-play)
    - Time controls: [Rapid, Classical and Correspondence](https://lichess.org/faq#time-controls) only.
      For direct challenges, games vs AI, and bulk pairing, Blitz is also possible.

    ### Links
    - [Announcement](https://lichess.org/blog/XlRW5REAAB8AUJJ-/welcome-lichess-boards)
    - [Implementation example](https://github.com/lichess-org/api-demo) and [live demo](https://lichess-org.github.io/api-demo/)
    - [Certabo support](https://github.com/haklein/certabo-lichess)
    - [Lichs (play from command-line)](https://github.com/Cqsi/lichs)
    - [Lichess discord bot](https://top.gg/bot/707287095911120968)
    - [cli-chess](https://github.com/trevorbayless/cli-chess/)
    - [Blunderly 3D board](https://github.com/maurimo/blunderly)
    - Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).
  name: Board
- description: |
    Play on Lichess as a bot. Allows engine play.
    Read the [blog post announcement of lichess bots](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots).

    Only works with [Bot accounts](#tag/bot/POST/api/bot/account/upgrade).

    ### Features
    - [Stream incoming chess moves](#tag/bot/GET/api/bot/game/stream/{gameId})
    - [Play chess moves](#tag/bot/POST/api/bot/game/{gameId}/move/{move})
    - [Read](#tag/bot/GET/api/bot/game/stream/{gameId}) and [write](#tag/bot/POST/api/bot/game/{gameId}/chat) in the player and spectator chats
    - [Receive](#tag/bot/GET/api/stream/event), [create](#tag/challenges/POST/api/challenge/{username}) and [accept](#tag/challenges/POST/api/challenge/{challengeId}/accept) (or [decline](#tag/challenges/POST/api/challenge/{challengeId}/decline)) challenges
    - [Abort](#tag/bot/POST/api/bot/game/{gameId}/abort) and [resign](#tag/bot/POST/api/bot/game/{gameId}/resign) games
    - Engine assistance is [allowed](https://lichess.org/page/fair-play)
    ### Restrictions
    - Bots can only play challenge games:  pools and tournaments are off-limits
    - Bots cannot play UltraBullet (¼+0) because it requires making too many requests. But 0+1 and ½+0 are allowed.
    - Bots must follow [Lichess TOS](https://lichess.org/terms-of-service) specifically Sandbagging, Constant Aborting, Boosting, etc
    - Bot devs are advised to make their Bots play casual only when testing their Bots logic and to avoid breaking Lichess TOS.
    ### Integrations
    - [Python3 lichess-bot](https://github.com/lichess-bot-devs/lichess-bot) (official)
    - [Python3 lichess UCI bot](https://github.com/Torom/BotLi)
    - [JavaScript bot-o-tron](https://github.com/tailuge/bot-o-tron)
    - [Golang lichess-bot](https://github.com/dolegi/lichess-bot)
    - [Electronic Chessboard](http://www.oliviermercier.com/res/projects/chessboard/)
    - Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).
    ### Links
    - [Announcement](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots)
    - Join the [Lichess Bots team](https://lichess.org/team/lichess-bots) with your bot account
    - [Get help in the discord channel](https://discord.gg/quwueFd)
    - Watch [Lichess Bot TV](https://lichess.org/tv/bot)
  name: Bot
- description: |
    Relay chess events on Lichess.
    [Official broadcasts](https://lichess.org/broadcast) are maintained by Lichess,
    but you can [create your own broadcasts](https://lichess.org/broadcast/new) to cover any live game or chess event.
    You will need to publish PGN on a public URL so that Lichess can pull updates from it.
    Alternatively, you can push PGN updates to Lichess using [this API endpoint](#tag/broadcasts/POST/api/broadcast/round/{broadcastRoundId}/push).

    Broadcasts are organized in tournaments, which have several rounds, which have several games.
    You must first create a tournament, then you can add rounds to them.
    Tournaments can be linked together in a group.

    All tournament endpoint requests must be authenticated with (at least) a `study:read` token.
    Unauthenticated endpoints are [heavily rate-limited and might stop functioning](https://github.com/lichess-org/lila/pull/21283).
  name: Broadcasts
- description: |
    Create many games for other players.

    These endpoints are intended for tournament organisers.
  name: Bulk pairings
- description: |
    Send and receive challenges to play.

    To create a lot of challenges, consider [bulk pairing](#tag/bulk-pairings/POST/api/bulk-pairing) instead.
  name: Challenges
- description: |
    **This API is in alpha and subject to change.**

    Use or provide external engine analysis.

    External engines can provide analysis on pages like the
    [analysis board](https://lichess.org/analysis), running as a service
    outside of the browser, or even on a different machine.
  name: External engine
- description: |
    FIDE players and federations from [their public download](https://ratings.fide.com/download_lists.phtml).

    <https://lichess.org/fide>
  name: FIDE
- description: |
    Access games played on Lichess.
    <https://lichess.org/games>
  name: Games
- description: |
    Private messages with other players.
    <https://lichess.org/inbox>
  name: Messaging
- description: |
    Lookup positions from the [Lichess opening explorer](https://lichess.org/analysis#explorer).

    Runs <https://github.com/lichess-org/lila-openingexplorer>.

    > [!important]
    > The hostname for these endpoints is `explorer.lichess.org` and not `lichess.org`.
  name: Opening Explorer
- description: |
    Fetch and solve [puzzles](https://lichess.org/training), view your puzzle history and dashboard.

    Our collection of puzzles is in the public domain, you can [download it here](https://database.lichess.org/#puzzles).
    For a list of our [puzzle themes](https://lichess.org/training/themes) with their description, check out the [theme translation file](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml).
  name: Puzzles
- description: |
    Access relations between users.
  name: Relations
- description: |
    Access simuls played on Lichess.
    <https://lichess.org/simul>
  name: Simuls
- description: |
    Access Lichess studies.
    <https://lichess.org/study>
  name: Studies
- description: |
    Lookup positions from the [Lichess tablebase server](https://lichess.org/blog/W3WeMyQAACQAdfAL/7-piece-syzygy-tablebases-are-complete).

    > [!important]
    > The hostname for these endpoints is `tablebase.lichess.org` and not `lichess.org`.
  name: Tablebase
- description: |
    Access and manage Lichess teams and their members.
    <https://lichess.org/team>
  name: Teams
- description: |
    Access Arena tournaments played on Lichess.
    [Official Arena tournaments](https://lichess.org/tournament) are maintained by Lichess,
    but you can [create your own Arena tournaments](https://lichess.org/tournament/new) as well.
  name: Tournaments (Arena)
- description: |
    Access Swiss tournaments played on Lichess.
    [Read more about Swiss tournaments.](https://lichess.org/swiss).
  name: Tournaments (Swiss)
- description: |
    Access Lichess TV channels and games.
    <https://lichess.org/tv> & <https://lichess.org/games>
  name: TV
- description: |
    Access registered users on Lichess.
    <https://lichess.org/player>

    - Each user blog exposes an atom (RSS) feed, like <https://lichess.org/@/thibault/blog.atom>
    - User blogs mashup feed: https://lichess.org/blog/community.atom
    - User blogs mashup feed for a language: https://lichess.org/blog/community/fr.atom
  name: Users
- description: |
    Obtaining and revoking OAuth tokens.

    [Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api-demo/blob/master/example/README.md).
  name: OAuth
paths:
  /api/users/status:
    get:
      description: |
        Read the `online`, `playing` and `streaming` flags of several users.
        This API is very fast and cheap on lichess side.
        So you can call it quite often (like once every 5 seconds).
        Use it to track players and know when they're connected on lichess and playing games.
      operationId: apiUsersStatus
      parameters:
      - description: User IDs separated by commas. Up to 100 IDs.
        example: "thibault,maia1,maia5"
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      - description: |
          Also return the network signal of the player, when available.
          It ranges from 1 (poor connection, lag > 500ms) to 4 (great connection, lag < 150ms)
          Defaults to `false` to preserve server resources.
        example: true
        explode: true
        in: query
        name: withSignal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Also return the ID of the game being played, if any, for each player, in a `playingId` field.
          Defaults to `false` to preserve server resources.
        example: true
        explode: true
        in: query
        name: withGameIds
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Also return the id, time control and variant of the game being played, if any, for each player, in a `playing` field.
          Defaults to `false` to preserve server resources. Disables `withGameIds`.
        example: true
        explode: true
        in: query
        name: withGameMetas
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getRealTimeUsersStatus.json"
              schema:
                items:
                  $ref: "#/components/schemas/apiUsersStatus_200_response_inner"
                type: array
                default: null
          description: The list of users and their respective statuses.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get real-time users status
      tags:
      - Users
  /api/player:
    get:
      description: |
        Get the top 10 players for each speed and variant.
        See <https://lichess.org/player>.
      operationId: player
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getAllTop10.json"
              schema:
                $ref: "#/components/schemas/Top10s"
          description: The list of variants with their respective top players.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get all top 10
      tags:
      - Users
  /api/player/top/{nb}/{perfType}:
    get:
      description: |
        Get the leaderboard for a single speed or variant (a.k.a. `perfType`).
        There is no leaderboard for correspondence or puzzles.
        See <https://lichess.org/player/top/bullet>.
      operationId: playerTopNbPerfType
      parameters:
      - description: How many users to fetch
        explode: false
        in: path
        name: nb
        required: true
        schema:
          example: 100
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: The speed or variant
        explode: false
        in: path
        name: perfType
        required: true
        schema:
          enum:
          - ultraBullet
          - bullet
          - blitz
          - rapid
          - classical
          - chess960
          - crazyhouse
          - antichess
          - atomic
          - horde
          - kingOfTheHill
          - racingKings
          - threeCheck
          example: bullet
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.lichess.v3+json:
              examples:
                default:
                  $ref: "#/components/examples/users-getOneLeaderboard.json"
              schema:
                $ref: "#/components/schemas/Leaderboard"
          description: The list of top players for the variant.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get one leaderboard
      tags:
      - Users
  /api/user/{username}:
    get:
      description: |
        Read public data of a user.
      operationId: apiUser
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Include user trophies
        explode: true
        in: query
        name: trophies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include user profile data
        explode: true
        in: query
        name: profile
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Include global lichess ranking for each perf
        explode: true
        in: query
        name: rank
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include public FIDE ID if any
        explode: true
        in: query
        name: fideId
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getUserPublicData.json"
              schema:
                $ref: "#/components/schemas/UserExtended"
          description: The information of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Get user public data
      tags:
      - Users
  /api/user/{username}/rating-history:
    get:
      description: |
        Read rating history of a user, for all perf types.
        There is at most one entry per day.
        Format of an entry is `[year, month, day, rating]`.
        `month` starts at zero (January).

        Note: Rating history is generated on demand by [Authenticated OAuth requests](#description/authentication).
        Unauthenticated requests will return a cached version of the rating history if present, otherwise an empty array.
      operationId: apiUserRatingHistory
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getRatingHistoryOfAUser.json"
              schema:
                $ref: "#/components/schemas/RatingHistory"
          description: The rating history of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get rating history of a user
      tags:
      - Users
  /api/user/{username}/perf/{perf}:
    get:
      description: |
        Read performance statistics of a user, for a single performance.
        Similar to the [performance pages on the website](https://lichess.org/@/thibault/perf/bullet).
      operationId: apiUserPerf
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: perf
        required: true
        schema:
          $ref: "#/components/schemas/PerfType"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getPerformanceStatisticsOfAUser.json"
              schema:
                $ref: "#/components/schemas/PerfStat"
          description: The performance statistics of the user
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get performance statistics of a user
      tags:
      - Users
  /api/user/{username}/activity:
    get:
      description: |
        Read data to generate the activity feed of a user.
      operationId: apiUserActivity
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getUserActivity.json"
              schema:
                items:
                  $ref: "#/components/schemas/UserActivity"
                type: array
                default: null
          description: The activity feed of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get user activity
      tags:
      - Users
  /api/puzzle/daily:
    get:
      description: |
        Get the daily Lichess puzzle in JSON format.
      operationId: apiPuzzleDaily
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getDailyPuzzle.json"
              schema:
                $ref: "#/components/schemas/PuzzleAndGame"
          description: The daily puzzle.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get the daily puzzle
      tags:
      - Puzzles
  /api/puzzle/{id}:
    get:
      description: Get a single Lichess puzzle in JSON format.
      operationId: apiPuzzleId
      parameters:
      - description: The puzzle ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getPuzzleById.json"
              schema:
                $ref: "#/components/schemas/PuzzleAndGame"
          description: The requested puzzle.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get a puzzle by its ID
      tags:
      - Puzzles
  /api/puzzle/next:
    get:
      description: |
        Get a random Lichess puzzle in JSON format.

        If authenticated, only returns puzzles that the user has never seen before.

        **DO NOT** use this endpoint to enumerate puzzles for mass download. Instead, download the [full public puzzle database](https://database.lichess.org/#puzzles).
      operationId: apiPuzzleNext
      parameters:
      - description: |
          The theme or opening to filter puzzles with.

          Available themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).
        explode: true
        in: query
        name: angle
        required: false
        schema:
          type: string
        style: form
      - description: "The desired puzzle difficulty, relative to the authenticated\
          \ user puzzle rating, or 1500 if anonymous."
        explode: true
        in: query
        name: difficulty
        required: false
        schema:
          enum:
          - easiest
          - easier
          - normal
          - harder
          - hardest
          type: string
        style: form
      - description: The color to play. Better left empty to automatically get 50%
          white.
        explode: true
        in: query
        name: color
        required: false
        schema:
          enum:
          - white
          - black
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getNewPuzzle.json"
              schema:
                $ref: "#/components/schemas/PuzzleAndGame"
          description: The requested puzzle.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - puzzle:read
      summary: Get a new puzzle
      tags:
      - Puzzles
  /api/puzzle/batch/{angle}:
    get:
      description: |
        Get a batch of random Lichess puzzles in JSON format.

        If authenticated, only returns puzzles that the user has never seen before.

        **DO NOT** use this endpoint to enumerate puzzles for mass download. Instead, download the [full public puzzle database](https://database.lichess.org/#puzzles).
      operationId: apiPuzzleBatchSelect
      parameters:
      - description: |
          The theme or opening to filter puzzles with. Recommended: `mix`.

          Available themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).
        explode: false
        in: path
        name: angle
        required: true
        schema:
          example: mix
          type: string
        style: simple
      - description: "The desired puzzle difficulty, relative to the authenticated\
          \ user puzzle rating, or 1500 if anonymous."
        explode: true
        in: query
        name: difficulty
        required: false
        schema:
          enum:
          - easiest
          - easier
          - normal
          - harder
          - hardest
          type: string
        style: form
      - description: |
          How many puzzles to fetch. Just set it to `1` if you only need one puzzle.
        explode: true
        in: query
        name: nb
        required: false
        schema:
          default: 15
          example: 10
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |
          The color to play. Better left empty to automatically get 50% white.
          Currently only works when `nb=1`.
        explode: true
        in: query
        name: color
        required: false
        schema:
          enum:
          - white
          - black
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getMultiplePuzzlesAtOnce.json"
              schema:
                $ref: "#/components/schemas/PuzzleBatchSelect"
          description: The requested puzzles.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - puzzle:read
      summary: Get multiple puzzles at once
      tags:
      - Puzzles
    post:
      description: |
        Set puzzles as solved and update ratings.
      operationId: apiPuzzleBatchSolve
      parameters:
      - description: |
          The theme or opening of the solved puzzles.

          Available themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).
        explode: false
        in: path
        name: angle
        required: true
        schema:
          example: mix
          type: string
        style: simple
      - description: |
          When > 0, the response includes a new puzzle batch with that many puzzles.

          This is equivalent to calling [/api/puzzle/batch/{angle}](#tag/puzzles/GET/api/puzzle/batch/{angle}),
          and can sometimes save a request.
        explode: true
        in: query
        name: nb
        required: false
        schema:
          default: 0
          example: 1
          maximum: 50
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PuzzleBatchSolveRequest"
        description: List of solved puzzles
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-solveMultiplePuzzlesAtOnce.json"
              schema:
                $ref: "#/components/schemas/PuzzleBatchSolveResponse"
          description: "The solved puzzles, named `rounds`, and a new puzzle batch\
            \ named `puzzles`."
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - puzzle:write
      summary: Solve multiple puzzles at once
      tags:
      - Puzzles
  /api/puzzle/activity:
    get:
      description: |
        Download your puzzle activity in [ndjson](#description/streaming-with-nd-json) format.
        Puzzle activity is sorted by reverse chronological order (most recent first)
        We recommend streaming the response, for it can be very long.
      operationId: apiPuzzleActivity
      parameters:
      - description: How many entries to download. Leave empty to download all activity.
        explode: true
        in: query
        name: max
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: Download entries before this timestamp. Defaults to now. Use
          `before` and `max` for pagination.
        explode: true
        in: query
        name: before
        required: false
        schema:
          minimum: 1356998400070
          type: integer
        style: form
      - description: Download entries since this timestamp. Defaults to account creation
          date.
        explode: true
        in: query
        name: since
        required: false
        schema:
          minimum: 1356998400070
          type: integer
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getYourPuzzleActivity.json"
              schema:
                $ref: "#/components/schemas/PuzzleActivity"
          description: The puzzle activity of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - puzzle:read
      summary: Get your puzzle activity
      tags:
      - Puzzles
  /api/puzzle/replay/{days}/{theme}:
    get:
      description: Gets the puzzle IDs of remaining puzzles to re-attempt in JSON
        format.
      operationId: apiPuzzleReplay
      parameters:
      - description: How many days to look back when aggregating puzzle results. 30
          is sensible.
        explode: false
        in: path
        name: days
        required: true
        schema:
          type: integer
        style: simple
      - description: The theme or opening to filter puzzles with.
        explode: false
        in: path
        name: theme
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getPuzzlesToReplay.json"
              schema:
                $ref: "#/components/schemas/PuzzleReplay"
          description: The requested puzzles to replay.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiPuzzleReplay_404_response"
          description: No puzzles to replay were found
      security:
      - OAuth2:
        - puzzle:read
      summary: Get puzzles to replay
      tags:
      - Puzzles
  /api/puzzle/dashboard/{days}:
    get:
      description: |
        Download your [puzzle dashboard](https://lichess.org/training/dashboard/30/dashboard) as JSON.
        Also includes all puzzle themes played, with aggregated results.
        Allows re-creating the [improvement/strengths](https://lichess.org/training/dashboard/30/improvementAreas) interfaces.
      operationId: apiPuzzleDashboard
      parameters:
      - description: How many days to look back when aggregating puzzle results. 30
          is sensible.
        explode: false
        in: path
        name: days
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getYourPuzzleDashboard.json"
              schema:
                $ref: "#/components/schemas/PuzzleDashboard"
          description: The puzzle dashboard of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - puzzle:read
      summary: Get your puzzle dashboard
      tags:
      - Puzzles
  /api/storm/dashboard/{username}:
    get:
      description: |
        Download the [storm dashboard](https://lichess.org/storm/dashboard/mrbasso) of any player as JSON.
        Contains the aggregated highscores, and the history of storm runs aggregated by days.
        Use `?days=0` if you only care about the highscores.
      operationId: apiStormDashboard
      parameters:
      - description: Username of the player
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: How many days of history to return
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 365
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getStormDashboardOfPlayer.json"
              schema:
                $ref: "#/components/schemas/PuzzleStormDashboard"
          description: The storm dashboard of a player.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get the storm dashboard of a player
      tags:
      - Puzzles
  /api/racer:
    post:
      description: |
        Create a new private [puzzle race](https://lichess.org/racer).
        The Lichess user who creates the race must join the race page,
        and manually start the race when enough players have joined.
        - <https://lichess.org/racer>
      operationId: racerPost
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-createAndJoinPuzzleRace.json"
              schema:
                $ref: "#/components/schemas/PuzzleRacer"
          description: The new puzzle race.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - racer:write
      summary: Create and join a puzzle race
      tags:
      - Puzzles
  /api/racer/{id}:
    get:
      description: |
        Get the results of a [puzzle race](https://lichess.org/racer).
        Returns information about players, puzzles, and the current status of the race.
        - <https://lichess.org/racer>

        Note that Lichess puzzle races are not persisted, and are only available
        for 30 minutes. After that delay, they are permanently deleted.
      operationId: racerGet
      parameters:
      - description: The puzzle race ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/puzzles-getRaceResults.json"
              schema:
                $ref: "#/components/schemas/PuzzleRaceResults"
          description: The puzzle race results.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: "The puzzle race was not found, or is no longer available."
      security:
      - OAuth2: []
      summary: Get puzzle race results
      tags:
      - Puzzles
  /api/users:
    post:
      description: |
        Get up to 300 users by their IDs. Users are returned in the same order as the IDs.
        The method is `POST` to allow a longer list of IDs to be sent in the request body.
        Please do not try to download all the Lichess users with this endpoint, or any other endpoint.
        An API is not a way to fully export a website. We do not provide a full download of the Lichess users.
        This endpoint is limited to 8,000 users every 10 minutes, and 120,000 every day.
      operationId: apiUsers
      parameters:
      - description: Include user profile data
        explode: true
        in: query
        name: profile
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Include global lichess ranking for each perf
        explode: true
        in: query
        name: rank
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          text/plain:
            example: "thibault,maia1,maia5"
            schema:
              type: string
        description: User IDs separated by commas.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/users-getUsersById.json"
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
                default: null
          description: The list of users.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get users by ID
      tags:
      - Users
  /api/account:
    get:
      description: |
        Public information about the logged in user.
      operationId: accountMe
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/account-getMyProfile.json"
              schema:
                $ref: "#/components/schemas/UserExtended"
          description: The public information about the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Get my profile
      tags:
      - Account
  /api/account/email:
    get:
      description: |
        Read the email address of the logged in user.
      operationId: accountEmail
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/account-getMyEmailAddress.json"
              schema:
                $ref: "#/components/schemas/accountEmail_200_response"
          description: The email address of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - email:read
      summary: Get my email address
      tags:
      - Account
  /api/account/preferences:
    get:
      description: |
        Read the preferences of the logged in user.
        - <https://lichess.org/account/preferences/game-display>
        - <https://github.com/ornicar/lila/blob/master/modules/pref/src/main/Pref.scala>
      operationId: account
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/account-getMyPreferences.json"
              schema:
                $ref: "#/components/schemas/account_200_response"
          description: The preferences of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - preference:read
      summary: Get my preferences
      tags:
      - Account
  /api/account/kid:
    get:
      description: |
        Read the kid mode status of the logged in user.
        - <https://lichess.org/account/kid>
      operationId: accountKid
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/account-getMyKidModeStatus.json"
              schema:
                $ref: "#/components/schemas/accountKid_200_response"
          description: The kid mode status of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - preference:read
      summary: Get my kid mode status
      tags:
      - Account
    post:
      description: |
        Set the kid mode status of the logged in user.
        - <https://lichess.org/account/kid>
      operationId: accountKidPost
      parameters:
      - description: Kid mode status
        example: true
        explode: true
        in: query
        name: v
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/account-setMyKidModeStatus.json"
              schema:
                $ref: "#/components/schemas/Ok"
          description: The kid mode status was set successfully for the logged in
            user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - preference:write
      summary: Set my kid mode status
      tags:
      - Account
  /game/export/{gameId}:
    get:
      description: |
        Download one game in either PGN or JSON format.
        Ongoing games are delayed by 3 moves, as to prevent cheat bots from using this API.
      operationId: gamePgn
      parameters:
      - $ref: "#/components/parameters/AcceptPgnOrJson"
      - description: The game ID
        explode: false
        in: path
        name: gameId
        required: true
        schema:
          maxLength: 8
          minLength: 8
          type: string
        style: simple
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include clock status when available.
          Either as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          Or in a `clocks` JSON field, as centisecond integers, depending on the response type.
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include analysis evaluations and comments, when available.
          Either as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          Or in an `analysis` JSON field, depending on the response type.
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.
        explode: true
        in: query
        name: accuracy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the opening name.
          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Plies which mark the beginning of the middlegame and endgame.
          Only available in JSON
        explode: true
        in: query
        name: division
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.
          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Add a `bookmarked: true` JSON field when the logged in user has bookmarked the game.
          The response type must be set to `application/x-ndjson` by the request `Accept` header.
        explode: true
        in: query
        name: withBookmarked
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                application/x-chess-pgn:
                  $ref: "#/components/examples/games-exportOneGame.pgn"
                application/json:
                  $ref: "#/components/examples/games-exportOneGame.json"
              schema:
                $ref: "#/components/schemas/gamePgn_200_response"
          description: The game representation.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Export one game
      tags:
      - Games
  /api/game/{gameId}/chat:
    get:
      description: |
        Get the messages posted in the public spectator chat of a game.

        Games also have a private players chat, which only the 2 players can see.
      operationId: gameChatGet
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          example: 5IrD6Gzz
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/games-fetchSpectatorChat.json"
              schema:
                $ref: "#/components/schemas/SpectatorGameChat"
          description: The messages posted in the chat.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Fetch the spectator game chat
      tags:
      - Games
    parameters:
    - explode: false
      in: path
      name: gameId
      required: true
      schema:
        example: 5IrD6Gzz
        type: string
      style: simple
  /api/user/{username}/current-game:
    get:
      description: |
        Download the ongoing game, or the last game played, of a user.
        Available in either PGN or JSON format.
        Ongoing games are delayed by 3 moves, as to prevent cheat bots from using this API.
      operationId: apiUserCurrentGame
      parameters:
      - $ref: "#/components/parameters/AcceptPgnOrJson"
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include clock status when available.
          Either as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          Or in a `clocks` JSON field, as centisecond integers, depending on the response type.
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include analysis evaluations and comments, when available.
          Either as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          Or in an `analysis` JSON field, depending on the response type.
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.
        explode: true
        in: query
        name: accuracy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the opening name.
          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Plies which mark the beginning of the middlegame and endgame.
          Only available in JSON
        explode: true
        in: query
        name: division
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.
          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                application/x-chess-pgn:
                  $ref: "#/components/examples/games-apiUserCurrentGamePgn.pgn"
                application/json:
                  $ref: "#/components/examples/games-apiUserCurrentGameJson.json"
              schema:
                $ref: "#/components/schemas/gamePgn_200_response"
          description: |
            The ongoing (or last) game of a user.
            This may be in either PGN or JSON format, depending on the `Accept` header of your request.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Export ongoing game of a user
      tags:
      - Games
  /api/games/user/{username}:
    get:
      description: |
        Download all games of any user in PGN or [ndjson](#description/streaming-with-nd-json) format.
        Games are sorted by reverse chronological order (most recent first).
        We recommend streaming the response, for it can be very long.
        <https://lichess.org/@/german11> for instance has more than 500,000 games.
        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#description/authentication) request: 30 games per second
          - Authenticated, downloading your own games: 60 games per second
      operationId: apiGamesUser
      parameters:
      - $ref: "#/components/parameters/AcceptPgnOrNdjson"
      - description: The user name.
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: Download games played since this timestamp. Defaults to account
          creation date.
        explode: true
        in: query
        name: since
        required: false
        schema:
          minimum: 1356998400070
          type: integer
        style: form
      - description: Download games played until this timestamp. Defaults to now.
        explode: true
        in: query
        name: until
        required: false
        schema:
          minimum: 1356998400070
          type: integer
        style: form
      - description: How many games to download. Leave empty to download all games.
        explode: true
        in: query
        name: max
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: "[Filter] Only games played against this opponent"
        explode: true
        in: query
        name: vs
        required: false
        schema:
          type: string
        style: form
      - description: "[Filter] Only rated (`true`) or casual (`false`) games"
        explode: true
        in: query
        name: rated
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          [Filter] Only games in these speeds or variants.
          Multiple perf types can be specified, separated by a comma.
          Example: blitz,rapid,classical
        explode: true
        in: query
        name: perfType
        required: false
        schema:
          $ref: "#/components/schemas/PerfType"
        style: form
      - description: "[Filter] Only games played as this color."
        explode: true
        in: query
        name: color
        required: false
        schema:
          enum:
          - white
          - black
          type: string
        style: form
      - description: "[Filter] Only games with or without a computer analysis available"
        explode: true
        in: query
        name: analysed
        required: false
        schema:
          type: boolean
        style: form
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field.\
          \ The response type must be set to `application/x-ndjson` by the request\
          \ `Accept` header."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include clock status when available.
          Either as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          Or in a `clocks` JSON field, as centisecond integers, depending on the response type.
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include analysis evaluations and comments, when available.
          Either as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          Or in an `analysis` JSON field, depending on the response type.
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.
        explode: true
        in: query
        name: accuracy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the opening name.
          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Plies which mark the beginning of the middlegame and endgame.
          Only available in JSON
        explode: true
        in: query
        name: division
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Ongoing games are delayed by a few seconds ranging from 3 to\
          \ 60 depending on the time control, as to prevent cheat bots from using\
          \ this API."
        explode: true
        in: query
        name: ongoing
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include finished games. Set to `false` to only get ongoing games.
        explode: true
        in: query
        name: finished
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.
          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the X-FEN notation of the last position of the game.
          The response type must be set to `application/x-ndjson` by the request `Accept` header.
        explode: true
        in: query
        name: lastFen
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Add a `bookmarked: true` JSON field when the logged in user has bookmarked the game.
          The response type must be set to `application/x-ndjson` by the request `Accept` header.
        explode: true
        in: query
        name: withBookmarked
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Sort order of the games.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: dateDesc
          enum:
          - dateAsc
          - dateDesc
          type: string
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                application/x-chess-pgn:
                  $ref: "#/components/examples/games-apiGamesUserPgn.pgn"
                application/x-ndjson:
                  $ref: "#/components/examples/games-apiGamesUserJson.json"
              schema:
                $ref: "#/components/schemas/gamePgn_200_response"
          description: The games of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Export games of a user
      tags:
      - Games
  /api/games/export/_ids:
    post:
      description: |
        Download games by IDs in PGN or [ndjson](#description/streaming-with-nd-json) format, depending on the request `Accept` header.
        Games are sorted by reverse chronological order (most recent first)
        The method is `POST` so a longer list of IDs can be sent in the request body.
        300 IDs can be submitted.
        Ongoing games are delayed by 3 moves, as to prevent cheat bots from using this API.
      operationId: gamesExportIds
      parameters:
      - $ref: "#/components/parameters/AcceptPgnOrNdjson"
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include clock status when available.
          Either as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          Or in a `clocks` JSON field, as centisecond integers, depending on the response type.
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include analysis evaluations and comments, when available.
          Either as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          Or in an `analysis` JSON field, depending on the response type.
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.
        explode: true
        in: query
        name: accuracy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the opening name.
          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Plies which mark the beginning of the middlegame and endgame.
          Only available in JSON
        explode: true
        in: query
        name: division
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.
          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          text/plain:
            example: "TJxUmbWK,4OtIh2oh,ILwozzRZ"
            schema:
              type: string
        description: Game IDs separated by commas. Up to 300.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                application/x-chess-pgn:
                  $ref: "#/components/examples/games-gamesExportIds.pgn"
                application/json:
                  $ref: "#/components/examples/games-gamesExportIds.json"
              schema:
                $ref: "#/components/schemas/gamePgn_200_response"
          description: The representation of the games.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Export games by IDs
      tags:
      - Games
  /api/stream/games-by-users:
    post:
      description: |
        Stream the games played between a list of users, in real time.
        Only games where **both players** are part of the list are included.
        The stream emits an event each time a game is started or finished.
        To also get all current ongoing games at the beginning of the stream, use the `withCurrentGames` flag.
        Games are streamed as [ndjson](#description/streaming-with-nd-json).
        Maximum number of users: 300.
        The method is `POST` so a longer list of IDs can be sent in the request body.
      operationId: gamesByUsers
      parameters:
      - description: Include the already started games at the beginning of the stream.
        explode: true
        in: query
        name: withCurrentGames
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        description: |
          Up to 300 user IDs separated by commas.
          Example: `thibault,maia1,maia5`
        required: true
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                default:
                  $ref: "#/components/examples/games-streamGamesOfUsers.json"
              schema:
                $ref: "#/components/schemas/GameStream"
          description: The stream of the games played between the users.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Stream games of users
      tags:
      - Games
  /api/stream/games/{streamId}:
    post:
      description: |
        Creates a stream of games from an arbitrary streamId, and a list of game IDs.
        The stream first outputs the games that already exists, then emits an event each time a game is started or finished.
        Games are streamed as [ndjson](#description/streaming-with-nd-json).
        Maximum number of games: 500 for anonymous requests, or 1000 for [OAuth2 authenticated](#description/authentication) requests.
        While the stream is open, it is possible to [add new game IDs to watch](#tag/games/POST/api/stream/games/{streamId}/add).
      operationId: gamesByIds
      parameters:
      - explode: false
        in: path
        name: streamId
        required: true
        schema:
          description: Arbitrary stream ID that you can later use to add game IDs
            to the stream.
          example: myAppName-someRandomId
          type: string
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        description: |
          Up to 500 or 1000 game IDs separated by commas.
          Example: `gameId01,gameId02,gameId03`
        required: true
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                default:
                  $ref: "#/components/examples/games-streamGamesOfIds.json"
              schema:
                $ref: "#/components/schemas/GameStream"
          description: The stream of the games matching the requested IDs.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Stream games by IDs
      tags:
      - Games
  /api/stream/games/{streamId}/add:
    post:
      description: |
        Add new game IDs for [an existing stream](#tag/games/POST/api/stream/games/{streamId}) to watch.
        The stream will immediately outputs the games that already exists, then emit an event each time a game is started or finished.
      operationId: gamesByIdsAdd
      parameters:
      - explode: false
        in: path
        name: streamId
        required: true
        schema:
          description: "The stream ID you used to [create the stream](#tag/games/POST/api/stream/games/{streamId})."
          example: myAppName-someRandomId
          type: string
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        description: |
          Up to 500 or 1000 game IDs separated by commas.
          Example: `gameId04,gameId05,gameId06`
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/games-addGameIdsToStream.json"
              schema:
                $ref: "#/components/schemas/Ok"
          description: The game IDs have been added to the stream.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Add game IDs to stream
      tags:
      - Games
  /api/account/playing:
    get:
      description: |
        Get the ongoing games of the current user.
        Real-time and correspondence games are included.
        The most urgent games are listed first.
      operationId: apiAccountPlaying
      parameters:
      - description: Max number of games to fetch
        explode: true
        in: query
        name: nb
        required: false
        schema:
          default: 9
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                player:
                  $ref: "#/components/examples/account-playing-user.json"
                ai:
                  $ref: "#/components/examples/account-playing-ai.json"
                anon:
                  $ref: "#/components/examples/account-playing-anon.json"
              schema:
                $ref: "#/components/schemas/apiAccountPlaying_200_response"
          description: The ongoing games of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Get my ongoing games
      tags:
      - Games
  /api/stream/game/{id}:
    get:
      description: |
        Stream positions and moves of any ongoing game, in [ndjson](#description/streaming-with-nd-json).
        A description of the game is sent as a first message.
        Then a message is sent each time a move is played.
        Finally, a description of the game is sent when it finishes, and the stream is closed.
        Ongoing games are delayed by 3 moves, as to prevent cheat bots from using this API.
        No more than 8 game streams can be opened at the same time from the same IP address.
      operationId: streamGame
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: LuGQwhBb
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                default:
                  $ref: "#/components/examples/games-streamGameMoves.json"
              schema:
                $ref: "#/components/schemas/MoveStream"
          description: The stream of the game moves.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiPuzzleReplay_404_response"
          description: Too many streams opened at the same time from this IP.
      security: []
      summary: Stream moves of a game
      tags:
      - Games
  /api/import:
    post:
      description: |
        Import a game from PGN. See <https://lichess.org/paste>.
        Rate limiting: 200 games per hour for OAuth requests, 100 games per hour for anonymous requests.
        To broadcast ongoing games, consider [pushing to a broadcast instead](#tag/broadcasts/POST/api/broadcast/round/{broadcastRoundId}/push).
        To analyse a position or a line, just construct an analysis board URL (most standard tags supported if URL-encoded):
        [https://lichess.org/analysis/pgn/e4_e5_Nf3_Nc6_Bc4_Bc5_Bxf7+](https://lichess.org/analysis/pgn/e4_e5_Nf3_Nc6_Bc4_Bc5_Bxf7+)
      operationId: gameImport
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/gameImport_request"
        description: A single game to import
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/games-importGame.json"
              schema:
                $ref: "#/components/schemas/gameImport_200_response"
          description: The game was successfully imported.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Import one game
      tags:
      - Games
  /api/games/export/imports:
    get:
      description: Download all games imported by you. Games are exported in PGN format.
      operationId: apiImportedGamesUser
      responses:
        "200":
          content:
            application/x-chess-pgn:
              examples:
                pgn:
                  $ref: "#/components/examples/games-exportImportedGames.pgn"
              schema:
                $ref: "#/components/schemas/GamePgn"
          description: Imported games in PGN format
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Export your imported games
      tags:
      - Games
  /api/games/export/bookmarks:
    get:
      description: |
        Download all games bookmarked by you, in PGN or [ndjson](#description/streaming-with-nd-json) format.
        Games are sorted by reverse chronological order (most recent first).
        We recommend streaming the response, for it can be very long.
      operationId: apiExportBookmarks
      parameters:
      - $ref: "#/components/parameters/AcceptPgnOrNdjson"
      - description: Download games bookmarked since this timestamp. Defaults to account
          creation date.
        explode: true
        in: query
        name: since
        required: false
        schema:
          minimum: 1356998400070
          type: integer
        style: form
      - description: Download games bookmarked until this timestamp. Defaults to now.
        explode: true
        in: query
        name: until
        required: false
        schema:
          minimum: 1356998400070
          type: integer
        style: form
      - description: How many bookmarked games to download. Leave empty to download
          all bookmarked games.
        explode: true
        in: query
        name: max
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field.\
          \ The response type must be set to `application/x-ndjson` by the request\
          \ `Accept` header."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include clock status when available.
          Either as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          Or in a `clocks` JSON field, as centisecond integers, depending on the response type.
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include analysis evaluations and comments, when available.
          Either as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          Or in an `analysis` JSON field, depending on the response type.
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.
        explode: true
        in: query
        name: accuracy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the opening name.
          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Plies which mark the beginning of the middlegame and endgame.
          Only available in JSON
        explode: true
        in: query
        name: division
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.
          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the X-FEN notation of the last position of the game.
          The response type must be set to `application/x-ndjson` by the request `Accept` header.
        explode: true
        in: query
        name: lastFen
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Sort order of the bookmarks.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: dateDesc
          enum:
          - dateAsc
          - dateDesc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                application/x-chess-pgn:
                  $ref: "#/components/examples/games-exportBookmarkedGames.pgn"
                application/x-ndjson:
                  $ref: "#/components/examples/games-exportBookmarkedGames.json"
              schema:
                $ref: "#/components/schemas/gamePgn_200_response"
          description: The bookmarked games of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Export your bookmarked games
      tags:
      - Games
  /bookmark/{gameId}:
    post:
      description: |
        Add or remove a bookmark on a game, for the logged in user.
        By default, the bookmark is toggled: added if absent, removed if present.
        Use the `v` parameter to explicitly set the bookmark instead, making the request idempotent.
        Bookmarked games can be downloaded with the [export your bookmarked games](#tag/games/GET/api/games/export/bookmarks) endpoint.
      operationId: bookmarkToggle
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          example: 5IrD6Gzz
          type: string
        style: simple
      - description: |
          Explicitly set the bookmark instead of toggling it.
          `true` adds the bookmark, `false` removes it.
        example: true
        explode: true
        in: query
        name: v
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: The bookmark was successfully added or removed.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security:
      - OAuth2:
        - preference:write
      summary: Bookmark a game
      tags:
      - Games
  /api/tv/channels:
    get:
      description: |
        Get basic info about the best games being played for each speed and variant,
        but also computer games and bot games.
        See [lichess.org/tv](https://lichess.org/tv).
      operationId: tvChannels
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/tv-getCurrentTvGames.json"
              schema:
                $ref: "#/components/schemas/tvChannels_200_response"
          description: The list of games being played for each speed and variant.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get current TV games
      tags:
      - TV
  /api/tv/feed:
    get:
      description: |
        Stream positions and moves of the current [TV game](https://lichess.org/tv) in [ndjson](#description/streaming-with-nd-json).
        Try it with `curl https://lichess.org/api/tv/feed`.
      operationId: tvFeed
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                new featured game:
                  $ref: "#/components/examples/tv-streamCurrentTvGame-newGame.json"
                move:
                  $ref: "#/components/examples/tv-streamCurrentTvGame-move.json"
              schema:
                $ref: "#/components/schemas/TvFeed"
          description: The stream of the current TV game.
      security: []
      summary: Stream current TV game
      tags:
      - TV
  /api/tv/{channel}/feed:
    get:
      description: |
        Stream positions and moves of a current [TV channel's game](https://lichess.org/tv/rapid) in [ndjson](#description/streaming-with-nd-json).
        Try it with `curl https://lichess.org/api/tv/rapid/feed`.
      operationId: tvChannelFeed
      parameters:
      - description: The name of the channel in camel case.
        explode: false
        in: path
        name: channel
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x-ndjson:
              examples:
                new featured game:
                  $ref: "#/components/examples/tv-streamCurrentTvGame-newGame.json"
                move:
                  $ref: "#/components/examples/tv-streamCurrentTvGame-move.json"
              schema:
                $ref: "#/components/schemas/TvFeed"
          description: The stream of the current TV game of a TV channel.
      security: []
      summary: Stream current TV game of a TV channel
      tags:
      - TV
  /api/tv/{channel}:
    get:
      description: |
        Get a list of ongoing games for a given TV channel. Similar to [lichess.org/games](https://lichess.org/games).
        Available in PGN or [ndjson](#description/streaming-with-nd-json) format, depending on the request `Accept` header.
      operationId: tvChannelGames
      parameters:
      - $ref: "#/components/parameters/AcceptPgnOrNdjson"
      - description: The name of the channel in camel case.
        explode: false
        in: path
        name: channel
        required: true
        schema:
          type: string
        style: simple
      - description: Number of games to fetch.
        explode: true
        in: query
        name: nb
        required: false
        schema:
          default: 10
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Include clock status when available.
          Either as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          Or in a `clocks` JSON field, as centisecond integers, depending on the response type.
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Include the opening name.
          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              examples:
                pgn:
                  $ref: "#/components/examples/tv-getBestOngoingGamesOfTvChannel.pgn"
              schema:
                $ref: "#/components/schemas/GamePgn"
            application/x-ndjson:
              examples:
                default:
                  $ref: "#/components/examples/tv-getBestOngoingGamesOfTvChannel.json"
              schema:
                $ref: "#/components/schemas/GameJson"
          description: The representation of the games.
      security: []
      summary: Get best ongoing games of a TV channel
      tags:
      - TV
  /api/tournament:
    get:
      description: |
        Get recently active and finished tournaments.
        This API is used to display the [Lichess tournament schedule](https://lichess.org/tournament).
      operationId: apiTournament
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/arenas-getCurrentTournaments.json"
              schema:
                $ref: "#/components/schemas/ArenaTournaments"
          description: The list of current tournaments.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
      security: []
      summary: Get current tournaments
      tags:
      - Tournaments (Arena)
    post:
      description: |
        Create a public or private Arena tournament.
        This endpoint mirrors the form on <https://lichess.org/tournament/new>.
        You can create up to 12 public tournaments per day, or 24 private tournaments.
        A team battle can be created by specifying the `teamBattleByTeam` argument.
        Additional restrictions:
          - clockTime + clockIncrement > 0
          - 15s and 0+1 variant tournaments cannot be rated
          - Clock time in comparison to tournament length must be reasonable: 3 <= (minutes * 60) / (96 * clockTime + 48 * clockIncrement + 15) <= 150
      operationId: apiTournamentPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/apiTournamentPost_request"
        description: Parameters of the tournament
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/arenas-createArena.json"
              schema:
                $ref: "#/components/schemas/ArenaTournamentFull"
          description: The Arena tournament has been successfully created.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The creation of the Arena tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Create a new Arena tournament
      tags:
      - Tournaments (Arena)
  /api/tournament/{id}:
    get:
      description: |
        Get detailed info about recently finished, current, or upcoming tournament's duels, player standings, and other info.
      operationId: tournament
      parameters:
      - description: Specify which page of player standings to view.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/arenas-getArenaById.json"
              schema:
                $ref: "#/components/schemas/ArenaTournamentFull"
[...]
